#binding-item-container {
    background-color: black;
    transition: box-shadow .2s;
    padding: 10px;
    display: grid;
    grid-template-columns: 5% 20% 50% 20% 5%;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 10px 0px;
}

#binding-item-container:hover {
    cursor: pointer;
    box-shadow: 0 0 15px #49FB35; 
}

#game-mini-thumbnail-container {
    grid-column-start: 2;
}

#actual-mini-thumbnail {
    background-color: aquamarine;
    color: black;
    border-radius: 5px;
    height: 120px;
}

#binding-detail-container {
    grid-column-start: 3;
    padding-left: 15px;
}

#controller-mini-thumbnail {
    grid-column-start: 4;
    display: flex;
    justify-content: right;
    align-items: center;
}


#controller-icon-container {
    background-color: #49FB35;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#controller-icon {
    color: #49FB35;
    height: 120px;
}