#xbox-container {
    display: flex;
    background-image: url('../SessionForms/darkpurple.jpeg');
    height: 100%;
    width: 100%;
    justify-content: center;
   
    padding: 50px;
}

#xbox-container svg {
    width: 50%;
    height: 0%;
    background-color: transparent;
}
