#xbox-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
   
    padding: 20px;
}

#xbox-container svg {
    width: 50%;
    height: 0%;
    background-color: transparent;
}
