/* TODO Add site wide styles */
:root{
  --nav-height: 100px;
}

form>.errors {
  color: red;
  font-size: 0.875em;
  height: 15px;
  display: flex;
  align-items: center;
}

body {
font-family: 'Roboto', sans-serif;
}