#xbox-container-test {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

#xbox-container-test svg {
    width: 50%;
    height: 0%;
    background-color: transparent;
}

